Package: terminator-daemon
Version: 1.0.2.0
Section: system
Priority: optional
Architecture: all
Essential: no
Depends: libc6
Installed-Size: 1024
Maintainer: Petr Bena <benapetr@gmail.com>
Description: Terminator daemon
 This package will install terminator daemon which can watch the system resources and automatically clean unwanted processes to prevent system going out of memory
